h1{
    color: brown;
}

#container{
    display: flex;
    width: 90rem;
    gap: 3rem;
    
}

button{
    width: 10rem;
    cursor: pointer;
    border-radius: 1rem;
    
}

button#up{
    background-color: chartreuse;
}

button#down{
    background-color: red;
}